*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	min-width: 900px;
}

img,
svg,
picture,
video {
	max-width: 100%;
	max-height: 100%;
}