main {
  display: flex;
  justify-content: center;
  align-items: top;

  min-height: 95vh;


}

.grid {
  margin-top: 5%;

  min-width: 900px;

  width: 70vw;
  height: calc(((32*70vw)/27)); /*Calcolo "aspect ratio" del "div" in base alla lunghezza della finsetra*/



  max-width: 3000px;
  max-height: 2000px;
}

.row {
  display: flex;
  justify-content: space-around;


  width: 100%;
  height: calc(((32*70vw)/27)/2); /*Calcolo "aspect ratio" del "div" in base alla lunghezza della finsetra*/

  max-height: 1000px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: calc(100%/3);
  height: 100%;


  max-width: 640px;
  max-height: 924px;

 
  padding: 10px;
}

.container-image {
  position: relative;

  width: 100%;
  height: 100%;

 

  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  background-color: blue;
}

.container-description {
  width: 100%;
  height: 60px;
  background-color: white;
}

.like {
  position: absolute;
  top: 5%;
  right: 0;
  
  text-align: center;
  font-size: 50px;
  width: 20%;

  background-color: white;
}

.like:hover {
  color: red;
  cursor: pointer;
}

.discount, 
.sustainability {
  position: relative;
  top: 90%;
  right: 0;

  color: white;
  padding: 6px;
  font-weight: bold;
}

.discount {
  background-color: red;
}

.sustainability {
  background-color: green;
}

.brand {
display: block;
font-size: 14px;
}

.product {
display: block;
font-weight: bold;
}

.price {
  margin-right: 2px;
  color: red;
  font-weight: bold;
  font-size: 14px;
}

.previous-price {
  font-size: 14px;
  text-decoration: line-through;
}

/* PRODUCT 1 IMAGE */

.product1 {
  background-image: url(../img/1.webp);
}

.product1:hover {
  background-image: url(../img/1b.webp);
}

/* PRODUCT 2 IMAGE */

.product2 {
  background-image: url(../img/2.webp);
}

.product2:hover {
  background-image: url(../img/2b.webp);
}

/* PRODUCT 3 IMAGE */

.product3 {
  background-image: url(../img/3.webp);
}

.product3:hover {
  background-image: url(../img/3b.webp);
}

/* PRODUCT 4 IMAGE */

.product4 {
  background-image: url(../img/4.webp);
}

.product4:hover {
  background-image: url(../img/4b.webp);
}

/* PRODUCT 5 IMAGE */

.product5 {
  background-image: url(../img/5.webp);
}

.product5:hover {
  background-image: url(../img/5b.webp);
}

/* PRODUCT 6 IMAGE */

.product6 {
  background-image: url(../img/6.webp);
}

.product6:hover {
  background-image: url(../img/6b.webp);
}